* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Josefin Sans, monospace;
}

body {
    background-image: url("media/background2.f325bd307a69.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    animation: transitionIn 1s;
}

.title a img {
    width: 100%;
    height: 60px;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    animation: transitionIn 1s;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    transition: all 1.1s;
}

.gallery img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    transition: all 0.7s;
}

.gallery .images {
    height: 220px;
}

.gallery img:hover {
    transform: scale(1.1);
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
  }
  
.button {
    min-width: 200px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: white;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
0% {
    width: 30px;
    height: 30px;
    opacity: 1;
}

100% {
    width: 300px;
    height: 300px;
    opacity: 0;
}
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .title a img {
        width: 200px;
        height: 50px;
    }

    body {
        background-position: center;
        background-size: cover;
    }
}